<% @cards.each do |card| %>
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--8dp">
    <div class="mdl-card__title meta mdl-color-text--grey-500">
      <strong><%= card.review_date.strftime("%d-%m-%Y") %></strong>
    </div>
    <div class="mdl-card__title mdl-color-text--grey-50">
      <h3 class="quote">
        <div><%= card.original_text %></div>
        <div class="hide"><%= card.translated_text %></div>
      </h3>
    </div>
    <div class="mdl-card__title meta mdl-color-text--grey-500">
      <strong><%= card.transcription %></strong>
    </div>
  </div>
<% end %>
